<div *ngIf="userData"> 
  <h1>{{userData.name}}</h1>

  <input type="text" maxlength="20" placeholder="Username" [(ngModel)]="userData.name"
    [disabled]="
      userData.role === 'admin' ||
      userData.role === 'moderator' && userData.role == 'moderator'
    "><!-- a 2. userData.role a moderator jogosultsagat kell majd hogy nezze -> modertor moderatort nem modosithat-->
  <input type="text" maxlength="100" placeholder="Email" [(ngModel)]="userData.email"
    [disabled]="
      userData.role === 'admin' ||
      userData.role === 'moderator' && userData.role == 'moderator'
    ">
  <input type="text" maxlength="10" placeholder="Role" [(ngModel)]="userData.role"
    [disabled]="
      userData.role === 'admin' ||
      userData.role === 'moderator' && userData.role == 'moderator'
    ">
    <button type="button" class="btn btn-default" (click)="edit(userData.name, userData.email, userData.role)"
      [disabled]="
        userData.role === 'admin' ||
        userData.role === 'moderator' && userData.role == 'moderator'
    ">Submit</button>
    <div class="separator flags">
        <div></div><p >FLAGS</p><div></div>
    </div>
  <h2>Toxic</h2>
  <div class="flaggers" ng-bind="u">
    <div *ngIf="userData.flags.toxic">
      <p *ngFor="let u of userData.flags.toxic.byWho">{{u._id}}</p>
    </div>
  </div>

  <button type="button" class="btn btn-default" (click)="submit()"
    [disabled]="
      userData.role === 'admin' ||
      userData.role === 'moderator' && userData.role == 'moderator'
  ">Clear</button>

  <div class="separator">
      <div></div><p >ban</p><div></div>
  </div>

  <form [formGroup]="warnForm" novalidate>
    <input type="text" maxlength="2000" class="form-control" formControlName="warn" placeholder="Warn"
    [disabled]="
      userData.role === 'admin' ||
      userData.role === 'moderator' && userData.role == 'moderator'
    ">
  </form>

  <input type="date" name="" [(ngModel)]="userData.ban"
    [disabled]="
      userData.role === 'admin' ||
      userData.role === 'moderator' && userData.role == 'moderator'
  " useValueAsDate>

  <button type="button" class="btn btn-default" (click)="warnBan(userData.ban)"
    [disabled]="
      userData.role === 'admin' ||
      userData.role === 'moderator' && userData.role == 'moderator'
  ">Submit</button>
</div>
