<h1>Login</h1>

<form [formGroup]="loginForm" novalidate>
    <input type="text" maxlength="30" class="form-control" formControlName="email" placeholder="Email" >
    <input type="password" maxlength="20" class="form-control" formControlName="password" placeholder="Password" >
    <button type="button" class="btn btn-default" (click)="submit()" [disabled]="!loginForm.valid">Login</button>
</form>
<div class="error" *ngIf=" err !== '' "> Invalid email or password </div>

<div class="separator">
    <div></div><p >or</p><div></div>
</div>
<a routerLink="/register">Create a free SMITD Account</a>
